# MongoDB Connection (Required for indexer)
MONGODB_URI=
MONGODB_DB_NAME=

# SUI Network Configuration
NEXT_PUBLIC_SUI_NETWORK=
NEXT_PUBLIC_SUI_RPC_URL=
NEXT_PUBLIC_DOCULOCK_PACKAGE_ID=
NEXT_PUBLIC_DOCULOCK_REGISTRY_ID=
